{% extends 'base.html.twig' %}

{% block body %}

    <div class="home_title">
        <p>PoiTypes List</p>
    </div>

    <table class="manage-poi-list">

        <tbody>
        {% for poiType in poiTypes %}
            <tr>
                <td><a href="{{ path('admin_poitype_edit', { 'id': poiType.id }) }}">{{ poiType.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="manage-poi-list" style="list-style: none; padding: 0;">
        <li>
            <a href="{{ path('admin_poitype_new') }}">Create a new poiType</a>
        </li>
    </ul>

{% endblock %}
