{% extends 'base.html.twig' %}

{% block body %}

        <div class="home_title">
            <p>POI Type creation</p>
        </div>



    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="edit_poi" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_poitype_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}
