{% extends 'base.html.twig' %}

{% block body %}

    <div class="home_title">
        <p>Hi, {{ '%username%'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
    </div>

    <div class="home_picture">
        <img src="home_picture.png">
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
