{% extends 'base.html.twig' %}

{% block body %}

    <div class="home_title">
        <p>Hi, Igor</p>
    </div>

    <div class="home_picture">
        <img src="home_picture.png">
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
