{% extends 'base.html.twig' %}

{% block body %}
    <div class="home_title">
        <p>Manage</p>
    </div>

    <table class="manage-poi-list">
        <tbody>
        {% for poi in pois %}
            <tr>
                <td><a href="{{ path('admin_poi_edit', { 'id': poi.id }) }}">{{ poi.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_poi_new') }}">Create a new poi</a>
        </li>
    </ul>
{% endblock %}
